<!-- isto é um comentário -->
<!-- AVISA AO NAVEGADOR QUE ISSO É UMA PÁGINA HTML -->
<!DOCTYPE html>
<!-- DEFINE A LINGUAGEM DO CONTEÚDO DA PÁGINA -->
<html lang="pt-BR">
    <!-- ÁREA DE CONFIGURAÇÃO DO ARQUIVO -->
    <head>
        <!-- DEFINE OS CARACTERES UTILIZADOS NA PÁGINA -->
        <meta charset="UTF-8">
        <!-- ZERA A ESCALA DE VISULIZAÇÃO DA PÁGINA -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- DEFINE O TÍTULO DA PÁGINA -->
        <title>Home</title>
    </head>
    <!-- CONTEÚDO DA PÁGINA -->
    <body>
        <!-- CABEÇALHO DO SITE -->
        <header>
            <!-- TAG DE MENU -->
            <nav>
                <!-- TAG DE LISTAS -->
                <!-- LISTA NÃO ORDENADA -->
                <ul>
                    <!-- TAG DE ITENS DA LISTA -->
                    <!-- a = LINKS  -->
                    <li> <a href="./index.html"> HOME               </a> </li>
                    <li> <a href="./produtos.html"> PRODUTOS        </a> </li>
                    <li> <a href="./ocorrencias.html"> OCORRÊNCIAS  </a> </li>
                    <li> <a href="./usuarios.html"> USUÁRIOS        </a> </li>
                </ul>
            </nav>
        </header>
        <!-- CONTEÚDO PRINCIPAL -->
        <main>
            <!-- FAMÍLIA H - TÍTULOS -->
            <h1> BEM VINDO AO MEU SITE INCRÍVEL </h1>
            <h2> Aqui você será feliz (ou não) </h2>

            <!-- TAG PARA TEXTOS -->
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit qui sint at repellendus animi sit accusantium cumque. Ipsam repellendus doloribus consequuntur assumenda vero debitis inventore accusamus voluptatibus, cupiditate saepe accusantium. </p>

            <!-- FAÇA UM NOVO TÍTULO E PARÁGRAFO -->
            <h2> TÍTULO TOP </h2>
            <text> Lorem ipsum dolor sit amet, consectetur adipisicing elit.

            <!-- QUEBRA LINHA -->
            <br>
            <br>

            Laborum, praesentium excepturi corrupti facere dolore in ducimus nam cumque atque enim voluptatibus. Tenetur assumenda possimus ipsa esse. Laudantium libero facilis dolore.</text>
        
        <!-- LISTA DE FILMES TOP -->
        <h2> Lista de filmes +top do Brasil e região</h2>
        <!-- LISTA ORDENADA -->
        <ol>
            <li> Rei Leão </li>
            <li> Batman - O Cavaleiro das Trevas </li>
            <li> Interestellar </li>
            <li> Vingadores - Guerra Infinita </li>
            <li> Kpop Demon Hunters </li>
        </ol>

        <!-- LISTA DE MÚSICAS -->
        <ul>
            <!-- Gênero 1 -->
            <li> 
                Pop 
                <ol>
                    <li> Billie Jean - Michael Jackson </li>
                    <li> You Belong With Me - Taylor Swift</li>
                    <li> Baby - Justin Bieber</li>
                </ol>
            </li>

            <!-- Gênero 2 -->
            <li> 
                Sertanejo 
                <ol>
                    <li> Boate Azul - Bruno e Marrone </li>
                    <li> Um degrau na escada - Chico Rey e Paraná </li>
                    <li> Evidências - Chitãozinho e Xoróró </li>
                </ol>
            </li>
            <li> 
                Pagode 
                <ol>
                    <li> Me apaixonei pela pessoa errada - Exaltasamba </li>
                    <li> Sinais - Sorriso Maroto </li>
                    <li> Velocidade da luz - Grupo Revelação </li>
                </ol>
            </li>
        </ul>

        </main>
        <!-- RODAPÉ DO SITE -->
        <footer>
            <strong> TODOS OS DIREITOS RESERVADOS A MIM </strong>
        </footer>
    </body>
</html>