<!-- isto é um comentário -->
<!-- AVISA AO NAVEGADOR QUE ISSO É UMA PÁGINA HTML -->
<!DOCTYPE html>
<!-- DEFINE A LINGUAGEM DO CONTEÚDO DA PÁGINA -->
<html lang="pt-BR">
    <!-- ÁREA DE CONFIGURAÇÃO DO ARQUIVO -->
    <head>
        <!-- DEFINE OS CARACTERES UTILIZADOS NA PÁGINA -->
        <meta charset="UTF-8">
        <!-- ZERA A ESCALA DE VISULIZAÇÃO DA PÁGINA -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- DEFINE O TÍTULO DA PÁGINA -->
        <title> Ocorrências </title>
    </head>
    <!-- CONTEÚDO DA PÁGINA -->
    <body>
        <!-- CABEÇALHO DO SITE -->
        <header>
            <!-- TAG DE MENU -->
            <nav>
                <!-- TAG DE LISTAS -->
                <!-- LISTA NÃO ORDENADA -->
                <ul>
                    <!-- TAG DE ITENS DA LISTA -->
                    <!-- a = LINKS  -->
                    <li> <a href="./index.html"> HOME               </a> </li>
                    <li> <a href="./produtos.html"> PRODUTOS        </a> </li>
                    <li> <a href="./ocorrencias.html"> OCORRÊNCIAS  </a> </li>
                    <li> <a href="./usuarios.html"> USUÁRIOS        </a> </li>
                </ul>
            </nav>
        </header>
        <!-- CONTEÚDO PRINCIPAL -->
        <main>
            <h2>Ocorrências</h2>                
            <!-- TABLE - CRIAÇÃO DE TABELA -->
            <!-- BORDER - BORDER DE TABELA -->
            <table border="5">
                <!-- THEAD - CABEÇALHO DA TABELA -->
                <thead>
                    <!-- TR - CRIA UMA LINHA DENTRO DO THEAD -->
                    <tr>
                        <!-- TH - CRIA A COLUNA DENTRO DO THEAD -->
                        <th> ID </th>
                        <th> USUÁRIO </th>
                        <th> PRODUTO ERRADO </th>
                        <th> PRODUTO CORRETO </th>
                        <th> DIFERENÇA (R$) </th>
                    </tr>
                </thead>

                <!-- TBODY - CORPO DA TABELA -->
                <tbody>
                    <tr>
                        <!-- TD - CRIA UMA COLUNA DENTRO DO TBODY -->
                        <td> 1       </td>
                        <td> Dougras </td>
                        <td> Uva     </td>
                        <td> Limão   </td>
                        <td> - R$ 3  </td>
                    </tr>
                    <tr>
                        <!-- TD - CRIA UMA COLUNA DENTRO DO TBODY -->
                        <td> 2       </td>
                        <!-- rowspan - controla quantas linhas aquela célula vai ocupar -->
                        <td rowspan="2"> CRIS </td>
                        <td> Mamão     </td>
                        <td> Carambola   </td>
                        <td> + R$ 10  </td>
                    </tr>
                    <tr>
                        <!-- TD - CRIA UMA COLUNA DENTRO DO TBODY -->
                        <td> 3       </td>
                        <!-- <td> CRIS </td> -->
                        <td> Jabuticaba     </td>
                        <td> Amora   </td>
                        <td> + R$ 7  </td>
                    </tr>
                </tbody>
            
                <!-- TFOOT - FOOTER DA TABELA -->
                <tfoot>
                    <tr>
                        <!-- colspan - diz quantas colunas aquela vai ocupar -->
                        <td colspan="5">TABELA ATUALIZA ÀS 67H00 </td>
                    </tr>
                </tfoot>
            </table>
        </main>
        <!-- RODAPÉ DO SITE -->
        <footer>
            <strong> TODOS OS DIREITOS RESERVADOS A MIM </strong>
        </footer>
    </body>
</html>