<!-- isto é um comentário -->
<!-- AVISA AO NAVEGADOR QUE ISSO É UMA PÁGINA HTML -->
<!doctype html>
<!-- DEFINE A LINGUAGEM DO CONTEÚDO DA PÁGINA -->
<html lang="pt-BR">
  <!-- ÁREA DE CONFIGURAÇÃO DO ARQUIVO -->
  <head>
    <!-- DEFINE OS CARACTERES UTILIZADOS NA PÁGINA -->
    <meta charset="UTF-8" />
    <!-- ZERA A ESCALA DE VISULIZAÇÃO DA PÁGINA -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- DEFINE O TÍTULO DA PÁGINA -->
    <title>Produtos</title>

        <!-- IMPORTAÇÃO DO CSS  -->
        <link rel="stylesheet" href="../css/style.css">
  </head>
  <!-- CONTEÚDO DA PÁGINA -->
  <body>
    <!-- CABEÇALHO DO SITE -->
    <!-- CABEÇALHO DO SITE -->
    <header>
      <!-- TAG DE MENU -->
      <nav>
        <!-- TAG DE LISTAS -->
        <!-- LISTA NÃO ORDENADA -->
        <ul>
          <!-- TAG DE ITENS DA LISTA -->
          <!-- a = LINKS  -->
          <li><a href="./index.html"> HOME </a></li>
          <li><a href="./produtos.html"> PRODUTOS </a></li>
          <li><a href="./ocorrencias.html"> OCORRÊNCIAS </a></li>
          <li><a href="./usuarios.html"> USUÁRIOS </a></li>
        </ul>
      </nav>
    </header>
    <!-- CONTEÚDO PRINCIPAL -->
    <main>
      <h2 class="subtitulo">Produtos</h2>
      <!-- CRIAÇÃO DO CARD -->
      <!-- DIV - CRIA UMA DIVISÃO OU BLOCO -->
      <div>
        <!-- IMG - TAG PARA COLOCAR IMAGEM -->
        <!-- SRC - FONTE DA IMAGEM -->
        <!-- HEIGHT - ALTURA DO ELEMENTO -->
        <!-- WIDTH - LARGURA DO ELEMENTO -->
        <img
          src="https://i3-imagens-prd.araujo.com.br/webp/71603/206236_7891150019416_4.webp"
          alt=""
          height="200px"
          width="230px"
        />
        <!-- Nome do produto -->
        <h3> Shampoo CR7 </h3>
        <!-- Descrição -->
        <p> O shampoo mais top do mercado, é sem comparação. Como ele mesmo diz: O milior 🤖</p>
        <!-- Botão de compra -->
        <button class="botao"> Comprar </button>
      </div>
      <!-- FIM PRODUTO 1 -->
      <br>
      <br>
      <!-- INICIO PRODUTO 2 -->
      <div>
        <!-- IMG - TAG PARA COLOCAR IMAGEM -->
        <!-- SRC - FONTE DA IMAGEM -->
        <!-- HEIGHT - ALTURA DO ELEMENTO -->
        <!-- WIDTH - LARGURA DO ELEMENTO -->
        <img
          src="../img/chuteira-neymar.webp"
          alt=""
          height="200px"
          width="230px"
        />
        <!-- Nome do produto -->
        <h3> Shampoo CR7 </h3>
        <!-- Descrição -->
        <p> O shampoo mais top do mercado, é sem comparação. Como ele mesmo diz: O milior 🤖</p>
        <!-- Botão de compra -->
        <button class="botao"> Comprar </button>
      </div>
      <!-- FIM PRODUTO 2 -->
      <br>
      <br>
      <!-- INICIO PRODUTO 3 -->
      <div>
        <!-- IMG - TAG PARA COLOCAR IMAGEM -->
        <!-- SRC - FONTE DA IMAGEM -->
        <!-- HEIGHT - ALTURA DO ELEMENTO -->
        <!-- WIDTH - LARGURA DO ELEMENTO -->
        <img
          src="https://i3-imagens-prd.araujo.com.br/webp/71603/206236_7891150019416_4.webp"
          alt=""
          height="200px"
          width="230px"
        />
        <!-- Nome do produto -->
        <h3> Shampoo CR7 </h3>
        <!-- Descrição -->
        <p> O shampoo mais top do mercado, é sem comparação. Como ele mesmo diz: O milior 🤖</p>
        <!-- Botão de compra -->
        <button class="botao"> Comprar </button>
      </div>
      <!-- FIM PRODUTO 3 -->
      <br>
      <br>
      <!-- INICIO PRODUTO 4 -->
      <div>
        <!-- IMG - TAG PARA COLOCAR IMAGEM -->
        <!-- SRC - FONTE DA IMAGEM -->
        <!-- HEIGHT - ALTURA DO ELEMENTO -->
        <!-- WIDTH - LARGURA DO ELEMENTO -->
        <img
          src="https://i3-imagens-prd.araujo.com.br/webp/71603/206236_7891150019416_4.webp"
          alt=""
          height="200px"
          width="230px"
        />
        <!-- Nome do produto -->
        <h3> Shampoo CR7 </h3>
        <!-- Descrição -->
        <p> O shampoo mais top do mercado, é sem comparação. Como ele mesmo diz: O milior 🤖</p>
        <!-- Botão de compra -->
        <button class="botao"> Comprar </button>
      </div>
      <!-- FIM PRODUTO 4 -->
    </main>
    <!-- RODAPÉ DO SITE -->
    <footer>
      <strong> TODOS OS DIREITOS RESERVADOS A MIM </strong>
    </footer>
  </body>
</html>
