<!-- isto é um comentário -->
<!-- AVISA AO NAVEGADOR QUE ISSO É UMA PÁGINA HTML -->
<!DOCTYPE html>
<!-- DEFINE A LINGUAGEM DO CONTEÚDO DA PÁGINA -->
<html lang="pt-BR">
    <!-- ÁREA DE CONFIGURAÇÃO DO ARQUIVO -->
    <head>
        <!-- DEFINE OS CARACTERES UTILIZADOS NA PÁGINA -->
        <meta charset="UTF-8">
        <!-- ZERA A ESCALA DE VISULIZAÇÃO DA PÁGINA -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- DEFINE O TÍTULO DA PÁGINA -->
        <title> Usuários </title>
    </head>
    <!-- CONTEÚDO DA PÁGINA -->
    <body>
        <!-- CABEÇALHO DO SITE -->
        <header>
            <!-- TAG DE MENU -->
            <nav>
                <!-- TAG DE LISTAS -->
                <!-- LISTA NÃO ORDENADA -->
                <ul>
                    <!-- TAG DE ITENS DA LISTA -->
                    <!-- a = LINKS  -->
                    <li> <a href="./index.html"> HOME               </a> </li>
                    <li> <a href="./produtos.html"> PRODUTOS        </a> </li>
                    <li> <a href="./ocorrencias.html"> OCORRÊNCIAS  </a> </li>
                    <li> <a href="./usuarios.html"> USUÁRIOS        </a> </li>
                </ul>
            </nav>
        </header>
        <!-- CONTEÚDO PRINCIPAL -->
        <main>
            <h2> CADARASTRO DE USUÁRIO</h2>

            <!-- FORM - ENGLOBAR TODOS OS CAMPOS DO FORMULÁRIO -->
            <form action="">
                <!-- fieldset - segmenta visualmente o formulário -->
                <fieldset>  
                    <!-- legend - titulo daquela área -->
                    <legend>Dados pessoais</legend>

                    <!-- label - suporte visual que indica o que preencher -->
                    <!-- input - coleta informações do usuário  -->
                    <!-- for - indica para quem o label serve  -->
                    <!-- id - identificador único dos elementos -->
                    
                    <!-- INICIO CAIXINHA NOME -->
                    <label for="caixa-nome"> Nome: </label>
                    <input type="text" id="caixa-nome">
                    <!-- FIM CAIXINHA NOME -->

                    <br>
                    <br>

                    <!-- INICIO CAIXINHA CPF -->
                    <label for="caixa-cpf"> CPF: </label>
                    <input type="number" id="caixa-cpf">
                    <!-- FIM CAIXINHA CPF -->

                    <br>
                    <br>

                    <!-- INICIO DA CAIXA DATA DE NASCIMENTO -->
                    <label for="caixa-nasc">Data de nascimento:</label>
                    <input type="datetime-local" id="caixa-nasc">
                    <!-- FIM CAIXA DATA DE NASCIMENTO -->
                </fieldset>
                <br>
                <fieldset>
                    <legend>Dados de login</legend>
                    <!-- CAIXA DE EMAIL -->
                    <label for="caixa-email">Email:</label>
                    <input type="email" id="caixa-email">
                    <!-- FIM CAIXA DE EMAIL -->

                    <br>
                    <br>

                    <!-- CAIXA DE SENHA -->
                    <label for="caixa-senha">Senha:</label>
                    <input type="password" id="caixa-senha">
                    <!-- FIM CAIXA DE SENHA -->

                    <br>
                    <br>

                    <!-- CAIXA DE TIPO -->
                    <label for="caixa-tipo">Tipo:</label>
                    <select id="caixa-tipo">
                        <option value="Ninguém"> SELECIONE </option>
                        <option value="Gestor"> Gestor </option>
                        <option value="Operador"> Operador </option>
                    </select>
                    <!-- FIM CAIXA DE TIPO -->
                </fieldset>

                <br>
                <!-- submit - envia as informações -->
                <button type="submit"> Cadastrar </button>
                <!-- reset - apaga as informações preenchidas -->
                <button type="reset"> Resetar </button>
            </form>
        </main>
        <!-- RODAPÉ DO SITE -->
        <footer>
            <strong> TODOS OS DIREITOS RESERVADOS A MIM </strong>
        </footer>
    </body>
</html>