<!-- isto é um comentário -->
<!-- AVISA AO NAVEGADOR QUE ISSO É UMA PÁGINA HTML -->
<!DOCTYPE html>
<!-- DEFINE A LINGUAGEM DO CONTEÚDO DA PÁGINA -->
<html lang="pt-BR">
    <!-- ÁREA DE CONFIGURAÇÃO DO ARQUIVO -->
    <head>
        <!-- DEFINE OS CARACTERES UTILIZADOS NA PÁGINA -->
        <meta charset="UTF-8">
        <!-- ZERA A ESCALA DE VISULIZAÇÃO DA PÁGINA -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- DEFINE O TÍTULO DA PÁGINA -->
        <title> Usuários </title>
    </head>
    <!-- CONTEÚDO DA PÁGINA -->
    <body>
        <!-- CABEÇALHO DO SITE -->
        <header>
            <!-- TAG DE MENU -->
            <nav>
                <!-- TAG DE LISTAS -->
                <!-- LISTA NÃO ORDENADA -->
                <ul>
                    <!-- TAG DE ITENS DA LISTA -->
                    <!-- a = LINKS  -->
                    <li> <a href="./index.html"> HOME               </a> </li>
                    <li> <a href="./produtos.html"> PRODUTOS        </a> </li>
                    <li> <a href="./ocorrencias.html"> OCORRÊNCIAS  </a> </li>
                    <li> <a href="./usuarios.html"> USUÁRIOS        </a> </li>
                </ul>
            </nav>
        </header>
        <!-- CONTEÚDO PRINCIPAL -->
        <main>
           

        </main>
        <!-- RODAPÉ DO SITE -->
        <footer>
            <strong> TODOS OS DIREITOS RESERVADOS A MIM </strong>
        </footer>
    </body>
</html>